
.login__form {
    margin: 30px auto;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.login__form input {
    font-size: 18px;
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}

.login__form input[type="submit"] {
    border: none;
    color: #fff;
    background: #303F9F;
    text-transform: uppercase;
}